body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.accueil{
    background-image: url(images/HERO.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.navigbar{
    background-color: rgba(0, 0, 0, 0.6);
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.texte{
    color: white;
    font-family: "Roboto Light",sans-serif;
}
.option{
    margin: 10px;
}

.corps{

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.phrase{
    background-color: rgba(0, 0, 0, 0.32);
    font-size: 35px;

}
.secondePartie{
    background-color: #4BCAFF;
    height: 100px;
    width: 100vw;
}
.titre{
    color: white;

}