body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.texte{
    color: white;
    font-family: "Roboto Light",sans-serif;}

.option{
    margin: 8px;
    font-weight: bolder;
    text-decoration: None;
    font-size: 1.2em;
}
.cal{
    margin-right: 10px;
    margin-left: 10px;
}
.espace{
    margin-right: 90px;
}
.bordure{
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px ;
    border: #4BCAFF 4px solid;
}
.maj{
    text-transform: uppercase;

}
.phrase{
    background-color: rgba(0, 0, 0, 0.32);
    font-size: 45px;
    margin: 20px;

}
.sousligne{border-bottom: white 3px solid;
    padding-bottom: 3px;}
p{
    font-size: 20px;
    text-align: justify;
}
.bleu{
    color: #4BCAFF;
}
.grandTitre{
    margin-bottom: 12vh;
    font-size: 30px;
    padding-left: 8%;

}

.titre{
    font-size: 30px;
}
.textenoir{
    color: black;
    font-family: "Roboto Light",sans-serif;}

.portfolio{
    border-bottom: black 3px solid;
    padding-bottom: 3px;
}
.imgPhoto{
    height: 212px;
    width: 285px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    margin-top:17px;
}
.un{
background-image: url("images/portfolio/1.png");
}

.deux{
    background-image: url("images/portfolio/2.png");
}
.trois{
    background-image: url("images/portfolio/3.png");
}
.quatre{
    background-image: url("images/portfolio/4.png");
}
.cinq{
    background-image: url("images/portfolio/5.png");
}
.six{
    background-image: url("images/portfolio/6.png");
}
.sept{
    background-image: url("images/portfolio/7.png");
}
.huit{
    background-image: url("images/portfolio/8.png");
}














/*####################################################*/
.accueil{
    background-image: url(images/HERO.jpg) ;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.navigbar{
    background-color: rgba(0, 0, 0, 0.6);
    height: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 9%;}



.punchline{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}


.secondePartie{
    background-color: #4BCAFF;

    padding-bottom: 5%;
    padding-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.argumentation{

    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 9%;

}
.argument{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 50%;

}
.iconebleu{
    width: fit-content;
    margin-bottom: 2vh;}

.thirdPhotos{

    background-color: white;
    width: 100vw;

    padding-bottom: 5%;
    padding-top: 5%;

.navigbar2{
    padding-left: 8%;
    padding-right: 9%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photographies{
    padding-left: 8vw;
    padding-right: 9vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quatrePartie{
    background-color: #515F67;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100vw;
height: 100px
}